## Lists
*  It's just a sequence of values. Lists are an important and valuable data structure.

In [ ]:
"""
List creation.
"""

print("List Literals")
print("=============")

# List literals
empty = []
print(empty)

numbers = [1, 5, 8, 3, 2]
print(numbers)

letters = ["a", "z", "c", "q", "c", "a"]
print(letters)

languages = ["python", "java", "javascript", "lisp", "c++", "haskell"]
print(languages)

# Don't mix types in a list!
mixed = ["a", 1, True]
print(mixed)

print("")
print("Creating Lists")
print("==============")

mylist = list()
print(mylist)

seq = range(5)
print(seq)

seqlst = list(seq)
print(seqlst)

seq2 = range(7, 13)
print(seq2, list(seq2))

seq3 = range(4, 27, 5)
print(seq3, list(seq3))

seq4 = range(9, 2, -1)
print(seq4, list(seq4))

List Literals
=============
[]
[1, 5, 8, 3, 2]
['a', 'z', 'c', 'q', 'c', 'a']
['python', 'java', 'javascript', 'lisp', 'c++', 'haskell']
['a', 1, True]

Creating Lists
==============
[]
range(0, 5)
[0, 1, 2, 3, 4]
range(7, 13) [7, 8, 9, 10, 11, 12]
range(4, 27, 5) [4, 9, 14, 19, 24]
range(9, 2, -1) [9, 8, 7, 6, 5, 4, 3]

## List Indexing and Slicing

* How to access items in a list
* Lists and strings are sequence types.
* A string is a sequence of charagers and a list is a sequece of items.

In [ ]:
"""
List indexing and slicing.
"""

print("List Indexing")
print("=============")

groceries = ["butter", "milk", "bacon", "spaghetti", "asparagus"]
print(groceries)

# first item
print(groceries[0])

# third item
print(groceries[2])

# length of list
numitems = len(groceries)
print(numitems)

# last item
print(groceries[-1])
print(groceries[numitems - 1])

# third from last item
print(groceries[-3])

# Out of bounds
#print(groceries[numitems])
#print(groceries[-17])

# Indices
# list = [7, 8, 3, 2, 9, 4]
# item        7  8  3  2  9  4
# pos index   0  1  2  3  4  5
# neg index  -6 -5 -4 -3 -2 -1

print("")
print("List Slicing")
print("============")

numbers = list(range(72, 5, -12))
print(numbers)

# Sublists
print(numbers[2:3])
print(numbers[1:4])

# Open ended slices
print(numbers[1:])
print(numbers[:3])

# Using negative indices
print(numbers[-2:])
print(numbers[1:-4])

# Empty slices
print(numbers[3:2])
print(numbers[10:12])

List Indexing
=============
['butter', 'milk', 'bacon', 'spaghetti', 'asparagus']
butter
bacon
5
asparagus
asparagus
bacon

List Slicing
============
[72, 60, 48, 36, 24, 12]
[48]
[60, 48, 36]
[60, 48, 36, 24, 12]
[72, 60, 48]
[24, 12]
[60]
[]
[]

## Defining and Accessing Lists

### List Literals
* Generally you need to only include elements of the same type as each other within a list.

In [ ]:
lst1 = [1, 5, 9, -32]
print(lst1)

lst2 = ["dog", "cow", "horse"]
print(lst2)

emptylst = []
print(emptylst)

[1, 5, 9, -32]
['dog', 'cow', 'horse']
[]

### Range
* You can pass range() to the list function to convert the range object into a list. Range() takes from 1 to 3 arguments, meaning start, stop and step value.
* If a single argument is passed to range, the start value will be 0, the stop value will be the argument, and the step value will be 1.

## Splitting and Joining Strings
* split() : If there is no argument, it breaks down strings into words based on white space and returns a list not including any white space. When you put an argument, it breaks down based on the argument.

* join() : it returns a string joing each one in list

In [ ]:
"""
Splitting and Joining Strings
"""

print("Splitting")
print("=========")

# From "A Girl I knew" by J. D. Salinger
sentence = "She wasn't doing a thing that I could see, except standing there leaning on the balcony railing, holding the universe together."

print(sentence)

# String split
words = sentence.split()
print(words)

# # Explicit separator
words2 = sentence.split(" ")
print(words2)
phrases = sentence.split(",")
print(phrases)
parts = sentence.split("the")
print(parts)

print("")
print("Joining")
print("=======")

items = ["flowers", "puddle", "mouse pad", "outlet", "bread", "house"]

print(items)

# # Join together
print("".join(items))
print(" ".join(items))
print(",".join(items))
print(", ".join(items))

Splitting
=========
She wasn't doing a thing that I could see, except standing there leaning on the balcony railing, holding the universe together.
['She', "wasn't", 'doing', 'a', 'thing', 'that', 'I', 'could', 'see,', 'except', 'standing', 'there', 'leaning', 'on', 'the', 'balcony', 'railing,', 'holding', 'the', 'universe', 'together.']
['She', "wasn't", 'doing', 'a', 'thing', 'that', 'I', 'could', 'see,', 'except', 'standing', 'there', 'leaning', 'on', 'the', 'balcony', 'railing,', 'holding', 'the', 'universe', 'together.']
["She wasn't doing a thing that I could see", ' except standing there leaning on the balcony railing', ' holding the universe together.']
["She wasn't doing a thing that I could see, except standing ", 're leaning on ', ' balcony railing, holding ', ' universe toge', 'r.']

Joining
=======
['flowers', 'puddle', 'mouse pad', 'outlet', 'bread', 'house']
flowerspuddlemouse padoutletbreadhouse
flowers puddle mouse pad outlet bread house
flowers,puddle,mouse pad,outlet,bread,house
flowers, puddle, mouse pad, outlet, bread, house

## Line Searching

* list_name.index(word) : it returns the first index of the word. List doesn't have rindex() function.
* word in list_name : It returns True or False, not an index.
* list_name.count(word) : it counts how many numbers of the word is in the list.

In [ ]:
"""
Searching lists.
"""

toys = ["blocks", "slinky", "fidget spinner", "cards", "doll house", "legos", "blocks", "teddy bear"]

# Finding items in a list
print(toys.index("legos"))
print(toys.index("blocks"))
#print(toys.index("video game"))

print("")

# Checking if items are in a list
print("legos" in toys)
print("blocks" in toys)
print("video game" in toys)
print("teddy bear" not in toys)
print("dice" not in toys)

print("")

# Counting items in list
print(toys.count("slinky"))
print(toys.count("blocks"))

5
0

True
True
False
False
True

1
2

## Iteration over Lists

In [ ]:
"""
Iterating over lists.
"""

def print_items(alist):
    """
    Iterate over alist and print all items.
    """
    for item in alist:
        print(item)

def print_items_bad(alist):
    """
    Iterate over alist and print all items.
    List indexing in this way is error prone and unnecessary.
    """
    length = len(alist)
    for index in range(length):
        print(alist[index])

def count_items(alist):
    """
    Count number of items in alist.
    """
    count = 0
    for item in alist:
        count = count + 1
    return count

def count_odd_items(numlist):
    """
    Count number of odd numbers in numlist.
    """
    count = 0
    for num in numlist:
        if num % 2 == 1:
            count += 1
    return count

numbers = list(range(5, 82, 3))
strings = ["python", "is", "fun", "!"]

print("Iterate over lists and print items")
print("")

# print_items(numbers)
# print_items(strings)
# print_items_bad(numbers)

# print("")
# print("Iterate over lists and process them")
# print("")

print(count_items(numbers))
print(count_items(strings))
print(count_odd_items(numbers))

Iterate over lists and print items

26
4
13



---

##Itertaion

In [1]:
pets = ["cat", "dog", "ferret"]

for animal in pets:
    print(animal)

cat
dog
ferret

In [2]:
numbers = [3, 8, -2, 4, 13]
sumsq = 0

for num in numbers:
    square = num * num
    sumsq += square
    
print(sumsq)

262

## Thonny

* Thonny is a Python IDE program



---
## [Practice Exercises for Lists]

1. Create a list that contains first 6 prime numbers in ascending order. (This list should be created manually.) Print out the 2nd, 4th, and 6th numbers in this list.

In [3]:
prime_list = [2,3,5,7,11,13]

print(prime_list[1],prime_list[3],prime_list[5])

3 7 13

2. Given a non-empty list example_list, write a Python expression that produces the list formed by the first and last elemets in example_list.

In [4]:
example_list = ['Hello','Today','is','Saturday','!']

print(example_list[0],example_list[-1])

Hello !

3. Given a list example_list with at least two elemts, write a Python expression using a string slice that produces the string formed by excluding the first and last elements in example_list.

In [5]:
print(example_list[1:-1])

['Today', 'is', 'Saturday']

4. Write a Python expression that creates a list of length 16 whose first 8 entries are True  and whose last 8 entries are False . Note that your answer should not include more than one instance of True and one instance of False in the expression used to create the list.

In [6]:
truefalse_list = 8 * [True] + 8 * [False]
print(truefalse_list)

[True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]

5. Write a Python expression that that takes a string text and split it into a list of words separated by spaces. For this problem, you may assume that the words in text are separated by spaces with no punctuation.

In [8]:
text = 'Bring me a shrubbery'
word_list = text.split(" ")

print(word_list)

['Bring', 'me', 'a', 'shrubbery']

6. Write a function word_count(text, word) that takes a string text and a string word as input. word_count should split the string of text into a list of words and count the number of times that word appears in the resulting list.  For this problem, you may assume that the words in text are separated by spaces with no punctuation and word includes no spaces.

In [9]:
def word_count(text,word):
    result_list = text.split(" ")
    word_cnt = result_list.count(word)

    return word_cnt



print(word_count("this pigdog is a fine pigdog", "pigdog"))
print(word_count("this pigdog is not a dog", "dog"))
print(word_count("this pigdog is not a pig", "pigdog"))

2
1
1

9. Write a Python function list_max(num_list) that takes a non-empty list of numbers num_list  and returns maximum (largest) number in the list. Since there is a built-in function max in Python that performs this computation in a single step, instead implement this function using a loop that iterates over the input list.

In [12]:
def list_max(num_list):
    max_number = num_list[0]

    for i in num_list[1:]:
        if max_number < i:
          max_number = i

    return max_number

In [11]:
print(list_max([4]))
print(list_max([-3, 4]))
print(list_max([5, 3, 1, 7, -3, -4]))
print(list_max([1, 2, 3, 4, 5]))

4
4
7
5

10. Challenge:  Write a Python function concatenate_ints(int_list) that takes a list of non-negative integers int_list and returns a single integer formed by concatenating the digits of the integer in the list. For example, list_to_int([11, 33, 50]) should return the integer 113350.

In [19]:
def concatenate_ints(int_list):
    result = ""

    for i in int_list:
        result += str(i)
    
    return int(result)


# Tests
print(concatenate_ints([4]))
print(concatenate_ints([4, 0, 4]))
print(concatenate_ints([123, 456, 789]))
print(concatenate_ints([32, 796, 1000]))

4
404
123456789
327961000

In [20]:
print(list(range(0,5)))
print(list(range(0,5,1)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [25]:
my_list = [0,1,2,3,4,5] #6개

print(my_list[:len(my_list)//2 ] , my_list[len(my_list)//2: len(my_list)])

[0, 1, 2] [3, 4, 5]

In [26]:
init_list = list(range(1, 5))
final_list = init_list * 6

print(init_list)
print(final_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [30]:
test_string = "xxx" + " " * 3 + "xxx"
split_list = test_string.split(" ")

print(split_list)
print(test_string)

2 + n-1 = n+1

['xxx', '', '', 'xxx']
xxx   xxx

In [35]:
list1 = list(range(1, 10))
list2 = [] + list1

print(list2[0])

1

In [38]:
def strange_sum(numbers):
    #3으로 나눠지지 않는 아이템의 합
    sum = 0
    for num in numbers:
        if num % 3 != 0 :
            sum += num
    
    return sum

In [39]:
print(strange_sum([1, 2, 3, 4, 5, 1, 2, 3, 4, 5]))
print(strange_sum(list(range(123)) + list(range(77))))

24
6994