### List Mutation

* Lists are mutatble
* append() -> adding the item at the end of the list
* insert(index, value) -> insert an value in the index
* extend(list) -> merge the list with argument list
* pop() -> remove the last item
* pop(index) -> remove the item of the argument index

In [ ]:
"""
Mutating Lists.
"""

print("Updating Items")
print("==============")

lst = list(range(5))
print(lst)

lst[1] = -7
lst[3] = 17
print(lst)

print("")
print("Adding Items")
print("============")

lst.append(42)
print(lst)

lst.insert(2, 75)
print(lst)

lst2 = [-56, 27, 8]
lst.extend(lst2)
print(lst)
lst.append(lst2)
print(lst)

print("")
print("Removing Items")
print("==============")

lst.pop()
print(lst)
lst.pop(3)
print(lst)

Updating Items
==============
[0, 1, 2, 3, 4]
[0, -7, 2, 17, 4]

Adding Items
============
[0, -7, 2, 17, 4, 42]
[0, -7, 75, 2, 17, 4, 42]
[0, -7, 75, 2, 17, 4, 42, -56, 27, 8]
[0, -7, 75, 2, 17, 4, 42, -56, 27, 8, [-56, 27, 8]]

Removing Items
==============
[0, -7, 75, 2, 17, 4, 42, -56, 27, 8]
[0, -7, 75, 17, 4, 42, -56, 27, 8]

In [ ]:
"""
Simple task list.
"""

def new(tasklist, task):
    """Add new task"""
    tasklist.append(task)
    
def remove_by_num(tasklist, tasknum):
    """Remove by number"""
    if tasknum > 0 and tasknum <= len(tasklist):
        tasklist.pop(tasknum - 1)

def remove_by_name(tasklist, taskname):
    """Remove by name"""
    if taskname in tasklist:
        tasklist.remove(taskname)
    
def printlist(tasklist):
    """Print task list"""
    print("========================")
    num = 1
    for task in tasklist:
        print(num, task)
        num += 1
    print("========================")
        
def run():
    """Manipulate task list"""
    tasks = []
    new(tasks, 'Teach Class')
    printlist(tasks)
    
    new(tasks, 'Buy some ties')
    new(tasks, 'Learn Python')
    printlist(tasks)
    
    new(tasks, 'Build new task list')
    printlist(tasks)
    
    remove_by_num(tasks, 1)
    printlist(tasks)
    remove_by_num(tasks, 2)
    printlist(tasks)
    
    remove_by_name(tasks, 'Buy some ties')
    printlist(tasks)

run()

========================
1 Teach Class
========================
========================
1 Teach Class
2 Buy some ties
3 Learn Python
========================
========================
1 Teach Class
2 Buy some ties
3 Learn Python
4 Build new task list
========================
========================
1 Buy some ties
2 Learn Python
3 Build new task list
========================
========================
1 Buy some ties
2 Build new task list
========================
========================
1 Build new task list
========================

## Tuples

* Tuples are immutable.
* Lists and Tuples are both sequence types.
* index(value) : find the index of a value
* count(value) : count how many times a value appears
* tuple(argument) : take a sequence and create a new Tuple with the same elements that are in the original sequences.
* list(argument) : convert to a list

In [ ]:
"""
Tuple examples.
"""

# Lists and tuples are both sequences
print("Sequences")
print("=========")
lst = [1, 5, 7, 3]
tup = (1, 5, 7, 3)

print(lst, tup)
print(lst[2])
print(tup[2])
print(tup[:2])
print(tup[2:3])

# Tuples are immutable
lst[0] = 9
print(lst)
# tup[0] = 9
print(tup)

print("")
print("Tuple Methods")
print("=============")

print(tup.index(7))
print(tup.count(4))

print("")
print("Iteration")
print("=========")

for item in tup:
    print(item)

print("")
print("Conversion")
print("==========")

lst2 = [8, 6, 4, 8, 2]
print(lst2)
tup2 = tuple(lst2)
print(tup2)
# tup2[3] = 7
lst3 = list(tup2)
print(lst3)
lst3[2] = 7
print(lst2, tup2, lst3)

Sequences
=========
[1, 5, 7, 3] (1, 5, 7, 3)
7
7
(1, 5)
(7,)
[9, 5, 7, 3]
(1, 5, 7, 3)

Tuple Methods
=============
2
0

Iteration
=========
1
5
7
3

Conversion
==========
[8, 6, 4, 8, 2]
(8, 6, 4, 8, 2)
[8, 6, 4, 8, 2]
[8, 6, 4, 8, 2] (8, 6, 4, 8, 2) [8, 6, 7, 8, 2]

* You have to add a comma after the single element to differentiate it from just using parentheses for grouping your expressions.

In [ ]:
test_1 = (1)
test_2 = (1,)

print(type(test_1), type(test_2))

<class 'int'> <class 'tuple'>

### Obejcts and References

![objects_references.JPG]()

### Understanding List References

In [ ]:
"""
List Objects and References.
"""

print("Look Alikes")
print("===========")

lst1 = [7, 3, 2]
lst2 = [7, 3, 2]
print(lst1, lst2)

lst1[1] = -8
print(lst1, lst2)

print("")
print("Aliases")
print("=======")

lst3 = [1, 5, 9]
lst4 = lst3
print(lst3, lst4)

lst3[1] = 17
print(lst3, lst4)

print("")
print("Copies")
print("======")

lst5 = [8, 9, 4]
# This makes a shallow copy
lst6 = list(lst5)
print(lst5, lst6)

lst5[1] = -2
print(lst5, lst6)

print("")
print("Function Arguments")
print("==================")

def mutate_list(alist):
    """
    Add an element to the input.
    """
    alist.append(42)

lst7 = [1, 2, 3]
print(lst7)
mutate_list(lst7)
print(lst7)

Look Alikes
===========
[7, 3, 2] [7, 3, 2]
[7, -8, 2] [7, 3, 2]

Aliases
=======
[1, 5, 9] [1, 5, 9]
[1, 17, 9] [1, 17, 9]

Copies
======
[8, 9, 4] [8, 9, 4]
[8, -2, 4] [8, 9, 4]

Function Arguments
==================
[1, 2, 3]
[1, 2, 3, 42]

### Diagnosing List References Issues

* There are two  kinds of objects
1. Atomic objects that correspond to a single piece of data like integer
2. Container objects  that correspond to something like list

* Python refers to an object by its physical location in memory.

In [ ]:
"""
Some simple examples of reference issues for lists
"""

# Part 1 - references to two distinct objects
iipp1_instructors = ["Joe", "Scott", "John", "Stephen"]
iipp2_instructors = ["Joe", "Scott", "John", "Stephen"]
print(iipp1_instructors)
print(iipp2_instructors)

# Mutate one of the two objects
iipp2_instructors.pop()
print(iipp1_instructors)
print(iipp2_instructors)
print()


# # Part 2 - two references to the same object

iipp1_instructors = ["Joe", "Scott", "John", "Stephen"]
iipp2_instructors = iipp1_instructors
print(iipp1_instructors)
print(iipp2_instructors)

# Mutate the object
iipp2_instructors.pop()
print(iipp1_instructors)
print(iipp2_instructors)
print()


# Part 3 - two references to an object and a copy of the object

iipp1_instructors = ["Joe", "Scott", "John", "Stephen"]
iipp2_instructors = list(iipp1_instructors)
print(iipp1_instructors)
print(iipp2_instructors)


# Mutate the one of the objects
iipp2_instructors.pop()
print(iipp1_instructors)
print(iipp2_instructors)

['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John']

['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John']
['Joe', 'Scott', 'John']

['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John', 'Stephen']
['Joe', 'Scott', 'John']



---

## [Practice Exercises for List Manipulation]

1. Given a list example_list containing at least 4 elements, write an expression that assigns the value 0 to the third element of the list.

In [ ]:
example_list = list(range(0,4))
print(example_list)

[0, 1, 2, 3]

2. Given a list example_list containing at least 4 elements, write an expression that replaces the second and third elements of the list by the list [0, 0, 0]

In [ ]:
example_list2 = list(range(0,4))
example_list2[1:3] = [0,0,0]
print(example_list2)

[0, 0, 0, 0, 3]

3. Given a list example_list, write an expression that mutates example_list such that the number 0 is appended (i.e. added to the end) to the list.

In [ ]:
example_list2.append(0)
print(example_list2)

[0, 0, 0, 0, 3, 0]

4. Given a list example_list, write an expression that mutates example_list such that the numbers in the list [0, 0, 0] are appended to the list. You should not use a loop here.

In [ ]:
example_list2.extend([0,0,0])
print(example_list2)

[0, 0, 0, 0, 3, 0, 0, 0, 0]

5. Given a list example_list, write an expression that appends the numbers in the list [0, 0, 0] to example_list . Note that this expression should not mutate example_list. (Again, you should not use a loop here.)

In [ ]:
example_list3 = [3,5,7,2,6,9]
new_list = example_list3 + [0,0,0]
print(new_list)

[3, 5, 7, 2, 6, 9, 0, 0, 0]

6. Given a list example_list, write a loop that mutates example_list such that the numbers in the list [0, 0, 0] are appended to the list.

In [ ]:
example_list4 = [6,23,795,323,7]

add_list = [0,0,0]

for num in add_list:
    example_list4.append(num)

print(example_list4)

[6, 23, 795, 323, 7, 0, 0, 0]

7. Given a list example_list, write an expression that constructs a tuple whose items correspond to those in example_list.

In [ ]:
example_list5 = [34,6,1.5,68,4]

example_tuple = tuple(example_list5)
print(example_tuple)

(34, 6, 1.5, 68, 4)

8. Given a list example_list, write an expression that mutates example_list by shuffling (i.e. randomly reordering) the items in this list. Hint: investigate the various methods in the random module.

In [ ]:
import random

In [ ]:
print(example_list5)

random.shuffle(example_list5)
print(example_list5)

[34, 6, 1.5, 68, 4]
[34, 1.5, 6, 4, 68]

9. Challenge: The items in a list can themselves be lists. These nested lists can be used to represent a wide range of 2D data such as spreadsheet information. Write a function flatten(nested_list) that takes as input the list of lists nested_list. The function flaten() should return a list consisting of the items in the sublists of nested_list all appended together. (See the provided template for example input and output.)

In [ ]:
def flatten(nested_list):
    appended_list = []

    for sub_list in nested_list:
        appended_list.extend(sub_list)

    return appended_list

In [ ]:
print(flatten([]))
print(flatten([[]]))
print(flatten([[1, 2, 3]]))
print(flatten([["cat", "dog"], ["pig", "cow"]]))
print(flatten([[9, 8, 7], [6, 5], [4, 3, 2], [1]]))

[]
[]
[1, 2, 3]
['cat', 'dog', 'pig', 'cow']
[9, 8, 7, 6, 5, 4, 3, 2, 1]

10. Challenge: Write a function remove_duplicates(items) that takes a list items and returns a new list that consists of all unique items in items. The items in the returned list should be in the same order as those in items.

In [ ]:
print(len(example_list5))

5



---



---

In [ ]:
def remove_duplicates(items):
    new_list =[]

    for item in items:
        if item not in new_list:
          new_list.append(item)

    return new_list

In [ ]:
# Test code
print(remove_duplicates([]))
print(remove_duplicates([1, 2, 3, 4]))
print(remove_duplicates([1, 2, 2, 3, 3, 3, 4, 5, 6, 6]))
print(remove_duplicates(["cat", "dog", "cat", "pig", "cow", "cat", "pig", "pug"]))

[]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
['cat', 'dog', 'pig', 'cow', 'pug']

In [ ]:
my_list = [1, 3, 5, 7, 9]
print(my_list[1:4])

[3, 5, 7]

In [ ]:
my_list = [1, 3, 5, 7, 9]
reversed_list = my_list.reverse()
print(my_list.reverse(), my_list)

None [1, 3, 5, 7, 9]

In [ ]:
print(my_list, reversed_list)

[1, 3, 5, 7, 9] None

In [ ]:
fib = [0,1]

for i in range(20):
    fib.append(fib[-1]+fib[-2])

print(fib[-1])

10946

In [ ]:
def  prime_list(n):
    sieve = [True]* n

    m = int(n**0.5)
    for i in range(2, m+1):
      if sieve[i] == True:
        for j in range(i+i, n, i):
          sieve[j] = False

    return [i for i in range(2,n) if sieve[i]==True]

In [ ]:
print(len(prime_list(2000)))

303