### [Tables and CSV files]

* CSV = Commna Separated 
* Each line in the file means each row and columns are separated by commas or any other field separator. (Separator doesn't have to be commas.)
* Whatever it is, the same character has to be used throughout the entire file.
* To distinguish the character in value and field separator, you quote the strings inside the file.

#### Expectations
> 1. Files are separated by a single delimiter character, which is often a comma.
> 2. Rows are separated by a newline character.
> 3. Fields are interpreted as plain text.
> 4. Fields can be quoted by a quote character, which is often a douple quote(").
> 5. Quoted fields can contain the delimeter character and/or newlines within them.
> 6. Each row contains the same number of fields in the same order.

* CSV files are not required to follow these conventions. While most files will, there are some programs that do not adhere to these rules and follow thier own conventions.

### [Parsing CSV Files]

In [ ]:
path = '/content/drive/MyDrive/etc/'

In [ ]:
"""
Example code to read and parse a CSV file.
"""

def parse(csvfilename):
    """
    Reads CSV file named csvfilename, parses
    it's content and returns the data within
    the file as a list of lists.
    """
    table = []
    with open(csvfilename, "r") as csvfile:
        for line in csvfile:
            line = line.rstrip()
            columns = line.split(',')
            table.append(columns)
    return table


def print_table(table):
    """
    Print out table, which must be a list
    of lists, in a nicely formatted way.
    """
    for row in table:
        # Header column left justified
        print("{:<19}".format(row[0]), end='')
        # Remaining columns right justified
        for col in row[1:]:
            print("{:>4}".format(col), end='')
        print("", end='\n')

table = parse(path+"hightemp.csv")
print_table(table)

print("")
print("")

table2 = parse(path+"hightemp2.csv")
print_table(table2)

City                Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Houston              62  65  72  78  84  90  92  93  88  81  71  63
Baghdad              61  66  75  86  97 108 111 111 104  91  75  64
Moscow               21  25  36  50  64  72  73  70  59  46  34  25
San Francisco        57  60  62  63  64  66  67  68  70  69  63  57
London               43  45  50  55  63  68  72  70  66  57  50  45
Chicago              32  36  46  59  70  81  84  82  75  63  48  36
Sydney               79  79  77  73  68  64  63  64  68  72  75  79
Paris                45  46  54  61  68  73  77  77  70  61  52  46
Tokyo                46  48  54  63  70  75  82  84  79  68  59  52
Shanghai             46  48  55  66  75  81  90  90  81  72  63  52


"City"              "Jan" "Feb" "Mar"   "Apr" "May" "Jun" "Jul"  "Aug" "Sep" "Oct" "Nov" "Dec"
"Houston            USA"  62  65  72  78  84  90  92  93  88  81  71  63
"Baghdad            Iraq"  61  66  75  86  97 108  111 111 104  91  75  64
"Moscow             Russia"  21  25  36   50  64  72  73  70  59  46  34  25
"San Francisco      USA"  57  60  62  63  64  66  67  68  70  69  63  57
 "London            England"  43  45  50  55  63     68  72  70  66  57  50  45
"Chicago            USA"  32  36  46  59  70  81  84  82  75  63  48  36
"Sydney             Australia"  79  79  77  73  68  64  63  64  68  72  75  79
 "Paris             France"  45  46  54  61  68  73  77  77  70  61  52  46
"Tokyo              Japan"  46  48  54  63   70  75  82  84  79  68   59  52
"Shanghai           China"  46  48  55  66  75  81  90  90  81  72  63  52

### [Python's CSV Module]

* Python has a nice CSV module that will help us to read CSV files. It handles messy CSV files gracefully.
* csv.reader function takes a variety of options that give you more flexibility for dealing with CSV files that are formatted in different ways.

In [ ]:
"""
Using the csv module.
"""

import csv

def parse(csvfilename):
    """
    Reads CSV file named csvfilename, parses
    it's content and returns the data within
    the file as a list of lists.
    """
    table = []
    with open(csvfilename, "r") as csvfile:
        csvreader = csv.reader(csvfile,
                               skipinitialspace=True)
        for row in csvreader:
            table.append(row)
    return table


def print_table(table):
    """
    Print out table, which must be a list
    of lists, in a nicely formatted way.
    """
    for row in table:
        # Header column left justified
        print("{:<19}".format(row[0]), end='')
        # Remaining columns right justified
        for col in row[1:]:
            print("{:>4}".format(col), end='')
        print("", end='\n')

table = parse(path+"hightemp.csv")
print_table(table)

print("")
print("")

table2 = parse(path+"hightemp2.csv")
print_table(table2)

City                Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Houston              62  65  72  78  84  90  92  93  88  81  71  63
Baghdad              61  66  75  86  97 108 111 111 104  91  75  64
Moscow               21  25  36  50  64  72  73  70  59  46  34  25
San Francisco        57  60  62  63  64  66  67  68  70  69  63  57
London               43  45  50  55  63  68  72  70  66  57  50  45
Chicago              32  36  46  59  70  81  84  82  75  63  48  36
Sydney               79  79  77  73  68  64  63  64  68  72  75  79
Paris                45  46  54  61  68  73  77  77  70  61  52  46
Tokyo                46  48  54  63  70  75  82  84  79  68  59  52
Shanghai             46  48  55  66  75  81  90  90  81  72  63  52


City                Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Houston, USA         62  65  72  78  84  90  92  93  88  81  71  63
Baghdad, Iraq        61  66  75  86  97 108 111 111 104  91  75  64
Moscow, Russia       21  25  36  50  64  72  73  70  59  46  34  25
San Francisco, USA   57  60  62  63  64  66  67  68  70  69  63  57
London, England      43  45  50  55  63  68  72  70  66  57  50  45
Chicago, USA         32  36  46  59  70  81  84  82  75  63  48  36
Sydney, Australia    79  79  77  73  68  64  63  64  68  72  75  79
Paris, France        45  46  54  61  68  73  77  77  70  61  52  46
Tokyo, Japan         46  48  54  63  70  75  82  84  79  68  59  52
Shanghai, China      46  48  55  66  75  81  90  90  81  72  63  52

### [CSV DictReader]

* CSV module handles new lines on its own.
* newline='' : We don't kneed Python's file handling utilities to process the new lines because I can have a new line inside the value of a particular column in CSV file.
* Python's file handling utilities can't differentiate between ending new lines and the one inside some column value. So newline='' makes the utilities ignore the new lines and leave all the new line handling up to the CSV module.

In [ ]:
"""
Using csv.DictReader.
"""

import csv

MONTHS = ('Jan', 'Feb', 'Mar', 'Apr',
          'May', 'Jun', 'Jul', 'Aug',
          'Sep', 'Oct', 'Nov', 'Dec')

def dictparse(csvfilename, keyfield):
    """
    Reads CSV file named csvfilename, parses
    it's content and returns the data within
    the file as a dictionary of dictionaries.
    """
    table = {}
    with open(csvfilename, "rt", newline='') as csvfile:
        csvreader = csv.DictReader(csvfile,
                                   skipinitialspace=True)
        for row in csvreader:
            table[row[keyfield]] = row
    return table


def print_table(table):
    """
    Print out table, which must be a dictionary
    of dictionaries, in a nicely formatted way.
    """
    print("City               ", end='')
    for month in MONTHS:
        print("{:>6}".format(month), end='')
    print("")
    for name, row in table.items():
        # Header column left justified
        print("{:<19}".format(name), end='')
        # Remaining columns right justified
        for month in MONTHS:
            print("{:>6}".format(row[month]), end='')
        print("", end='\n')

table = dictparse(path+"hightemp.csv", 'City')
print_table(table)

City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston                62    65    72    78    84    90    92    93    88    81    71    63
Baghdad                61    66    75    86    97   108   111   111   104    91    75    64
Moscow                 21    25    36    50    64    72    73    70    59    46    34    25
San Francisco          57    60    62    63    64    66    67    68    70    69    63    57
London                 43    45    50    55    63    68    72    70    66    57    50    45
Chicago                32    36    46    59    70    81    84    82    75    63    48    36
Sydney                 79    79    77    73    68    64    63    64    68    72    75    79
Paris                  45    46    54    61    68    73    77    77    70    61    52    46
Tokyo                  46    48    54    63    70    75    82    84    79    68    59    52
Shanghai               46    48    55    66    75    81    90    90    81    72    63    52

In [ ]:
print(table)

{'Houston': OrderedDict([('City', 'Houston'), ('Jan', '62'), ('Feb', '65'), ('Mar', '72'), ('Apr', '78'), ('May', '84'), ('Jun', '90'), ('Jul', '92'), ('Aug', '93'), ('Sep', '88'), ('Oct', '81'), ('Nov', '71'), ('Dec', '63')]), 'Baghdad': OrderedDict([('City', 'Baghdad'), ('Jan', '61'), ('Feb', '66'), ('Mar', '75'), ('Apr', '86'), ('May', '97'), ('Jun', '108'), ('Jul', '111'), ('Aug', '111'), ('Sep', '104'), ('Oct', '91'), ('Nov', '75'), ('Dec', '64')]), 'Moscow': OrderedDict([('City', 'Moscow'), ('Jan', '21'), ('Feb', '25'), ('Mar', '36'), ('Apr', '50'), ('May', '64'), ('Jun', '72'), ('Jul', '73'), ('Aug', '70'), ('Sep', '59'), ('Oct', '46'), ('Nov', '34'), ('Dec', '25')]), 'San Francisco': OrderedDict([('City', 'San Francisco'), ('Jan', '57'), ('Feb', '60'), ('Mar', '62'), ('Apr', '63'), ('May', '64'), ('Jun', '66'), ('Jul', '67'), ('Aug', '68'), ('Sep', '70'), ('Oct', '69'), ('Nov', '63'), ('Dec', '57')]), 'London': OrderedDict([('City', 'London'), ('Jan', '43'), ('Feb', '45'), ('Mar', '50'), ('Apr', '55'), ('May', '63'), ('Jun', '68'), ('Jul', '72'), ('Aug', '70'), ('Sep', '66'), ('Oct', '57'), ('Nov', '50'), ('Dec', '45')]), 'Chicago': OrderedDict([('City', 'Chicago'), ('Jan', '32'), ('Feb', '36'), ('Mar', '46'), ('Apr', '59'), ('May', '70'), ('Jun', '81'), ('Jul', '84'), ('Aug', '82'), ('Sep', '75'), ('Oct', '63'), ('Nov', '48'), ('Dec', '36')]), 'Sydney': OrderedDict([('City', 'Sydney'), ('Jan', '79'), ('Feb', '79'), ('Mar', '77'), ('Apr', '73'), ('May', '68'), ('Jun', '64'), ('Jul', '63'), ('Aug', '64'), ('Sep', '68'), ('Oct', '72'), ('Nov', '75'), ('Dec', '79')]), 'Paris': OrderedDict([('City', 'Paris'), ('Jan', '45'), ('Feb', '46'), ('Mar', '54'), ('Apr', '61'), ('May', '68'), ('Jun', '73'), ('Jul', '77'), ('Aug', '77'), ('Sep', '70'), ('Oct', '61'), ('Nov', '52'), ('Dec', '46')]), 'Tokyo': OrderedDict([('City', 'Tokyo'), ('Jan', '46'), ('Feb', '48'), ('Mar', '54'), ('Apr', '63'), ('May', '70'), ('Jun', '75'), ('Jul', '82'), ('Aug', '84'), ('Sep', '79'), ('Oct', '68'), ('Nov', '59'), ('Dec', '52')]), 'Shanghai': OrderedDict([('City', 'Shanghai'), ('Jan', '46'), ('Feb', '48'), ('Mar', '55'), ('Apr', '66'), ('May', '75'), ('Jun', '81'), ('Jul', '90'), ('Aug', '90'), ('Sep', '81'), ('Oct', '72'), ('Nov', '63'), ('Dec', '52')])}

* You usually know the name of the column that you want and it might be easier to use the name of the column to index into the row.
* You don't have to remember the order of the rows, you simply just use the keyfield to index into that dictionary and you will have the row you want. Then you use the column name to index into that.

### [CSV Reader Options]

#### Options in csv.DictReader
> * delimiter : a single character as a field separator (default  , )
> * quotechar : a single character as a quote character (default " )


* When Dictreader function reads your file, it reads the first row and uses those as the names of all of the columns. So it has that information in order.
* It does have a list internally and we can access it as csvreader.fieldnames.

#### Quotestrategy options
> * QUOTE_MINIMAL : quotes are really only being used when necessary. For instance, they're quoting column values that have special characters in them. The readers assume that all of the columns are strings and everything is parsed as a string.
> * QUOTE_NONNUMERIC : Every column that is not a numeric value must be quoted. The readers assume that something is not quoted must be a number. Therefore it parses it as a floating point number.

In [ ]:
"""
CSV reader options.
"""

import csv

def dictparse(csvfilename, keyfield, separator, quote, quotestrategy):
    """
    Reads CSV file named csvfilename, parses
    it's content and returns the data within
    the file as a dictionary of dictionaries.
    """
    table = {}
    with open(csvfilename, "rt", newline='') as csvfile:
        csvreader = csv.DictReader(csvfile,
                                   skipinitialspace=True,
                                   delimiter=separator,
                                   quotechar=quote,
                                   quoting=quotestrategy)
        for row in csvreader:
            table[row[keyfield]] = row
    return table, csvreader.fieldnames


def print_table(table, fieldnames):
    """
    Print out table, which must be a dictionary
    of dictionaries, in a nicely formatted way.
    """
    print("{:<19}".format(fieldnames[0]), end='')
    for field in fieldnames[1:]:
        print("{:>6}".format(field), end='')
    print("")
    for name, row in table.items():
        # Header column left justified
        print("{:<19}".format(name), end='')
        # Remaining columns right justified
        for field in fieldnames[1:]:
            print("{:>6}".format(row[field]), end='')
        print("", end='\n')

table, fieldnames = dictparse(path+"hightemp.csv", 'City', ',', '"', csv.QUOTE_MINIMAL)
print(fieldnames)
print_table(table, fieldnames)

print("")
print("")

table2, fieldnames2 = dictparse(path+"hightemp2.csv", 'City', ',', '"', csv.QUOTE_NONNUMERIC)
print_table(table2, fieldnames2)

print("")
print("")

table3, fieldnames3 = dictparse(path+"hightemp3.csv", 'City', ' ', "'", csv.QUOTE_NONNUMERIC)
print_table(table3, fieldnames3)

['City', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston                62    65    72    78    84    90    92    93    88    81    71    63
Baghdad                61    66    75    86    97   108   111   111   104    91    75    64
Moscow                 21    25    36    50    64    72    73    70    59    46    34    25
San Francisco          57    60    62    63    64    66    67    68    70    69    63    57
London                 43    45    50    55    63    68    72    70    66    57    50    45
Chicago                32    36    46    59    70    81    84    82    75    63    48    36
Sydney                 79    79    77    73    68    64    63    64    68    72    75    79
Paris                  45    46    54    61    68    73    77    77    70    61    52    46
Tokyo                  46    48    54    63    70    75    82    84    79    68    59    52
Shanghai               46    48    55    66    75    81    90    90    81    72    63    52


City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston, USA         62.0  65.0  72.0  78.0  84.0  90.0  92.0  93.0  88.0  81.0  71.0  63.0
Baghdad, Iraq        61.0  66.0  75.0  86.0  97.0 108.0 111.0 111.0 104.0  91.0  75.0  64.0
Moscow, Russia       21.0  25.0  36.0  50.0  64.0  72.0  73.0  70.0  59.0  46.0  34.0  25.0
San Francisco, USA   57.0  60.0  62.0  63.0  64.0  66.0  67.0  68.0  70.0  69.0  63.0  57.0
London, England      43.0  45.0  50.0  55.0  63.0  68.0  72.0  70.0  66.0  57.0  50.0  45.0
Chicago, USA         32.0  36.0  46.0  59.0  70.0  81.0  84.0  82.0  75.0  63.0  48.0  36.0
Sydney, Australia    79.0  79.0  77.0  73.0  68.0  64.0  63.0  64.0  68.0  72.0  75.0  79.0
Paris, France        45.0  46.0  54.0  61.0  68.0  73.0  77.0  77.0  70.0  61.0  52.0  46.0
Tokyo, Japan         46.0  48.0  54.0  63.0  70.0  75.0  82.0  84.0  79.0  68.0  59.0  52.0
Shanghai, China      46.0  48.0  55.0  66.0  75.0  81.0  90.0  90.0  81.0  72.0  63.0  52.0


City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston, USA         62.0  65.0  72.0  78.0  84.0  90.0  92.0  93.0  88.0  81.0  71.0  63.0
Baghdad, Iraq        61.0  66.0  75.0  86.0  97.0 108.0 111.0 111.0 104.0  91.0  75.0  64.0
Moscow, Russia       21.0  25.0  36.0  50.0  64.0  72.0  73.0  70.0  59.0  46.0  34.0  25.0
San Francisco, USA   57.0  60.0  62.0  63.0  64.0  66.0  67.0  68.0  70.0  69.0  63.0  57.0
London, England      43.0  45.0  50.0  55.0  63.0  68.0  72.0  70.0  66.0  57.0  50.0  45.0
Chicago, USA         32.0  36.0  46.0  59.0  70.0  81.0  84.0  82.0  75.0  63.0  48.0  36.0
Sydney, Australia    79.0  79.0  77.0  73.0  68.0  64.0  63.0  64.0  68.0  72.0  75.0  79.0
Paris, France        45.0  46.0  54.0  61.0  68.0  73.0  77.0  77.0  70.0  61.0  52.0  46.0
Tokyo, Japan         46.0  48.0  54.0  63.0  70.0  75.0  82.0  84.0  79.0  68.0  59.0  52.0
Shanghai, China      46.0  48.0  55.0  66.0  75.0  81.0  90.0  90.0  81.0  72.0  63.0  52.0

### [Experimenting with CSV Methods]
[CSV File Reading and Writing](https://docs.python.org/3/library/csv.html)

* The csv module allows us to say,"write data in the format preferred by Excel" or "read data from this file which was generated by Excel" without knowing the precise details of the CSV format used by Excel.

In [ ]:
"""
Examples code for experimenting with options to the csv.read() and csv.write() methods
"""

# import csv


# Function that prints 2D table to console

def print_table(table):
    """
    Echo a nested list to the console
    """
    for row in table:
        print(row)


# Options for reading a CSV file

def read_csv_file(file_name, file_delimeter):
    """
    Given a CSV file path and a delimiter as strings,
    read the data into a 2D table and return the table
    """
       
    with open(file_name, newline='') as csv_file:       # don't need to explicitly close the file now
        csv_table = []
        csv_reader = csv.reader(csv_file, delimiter=file_delimeter)
        for row in csv_reader:
            csv_table.append(row)
    return csv_table


def csv_delimiter_examples():
    """
    Run some example of reading CSV files using different delimiter options
    """
    number_table = read_csv_file(path+"number_table.csv", " ")
    print_table(number_table)
    print()
    name_table = read_csv_file(path+"name_table.csv", ",")
    print_table(name_table)



csv_delimiter_examples()

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

['Joe', 'Scott', ' Stephen']
["Joe'S", " Scott's", "  Stephen's"]
["Joe's", "Scott's", ' "Stephen\'s"']

In [ ]:
# Options for writing a CSV file

def write_csv_file(csv_table, file_name, file_delimiter, quoting_value):
    """
    Given a nested list csv_table, write the data into a
    CSV file with the name file_name
    """
    
    with open(file_name, 'w', newline='') as csv_file:
        csv_writer = csv.writer(csv_file, delimiter=file_delimiter, quoting=quoting_value)
        for row in csv_table:
            csv_writer.writerow(row)
            
def csv_quoting_examples():
    """
    Run some example of writing 2D tables as CSV files using various quoting options
    """
    name_table = read_csv_file(path+"name_table.csv", ",")
    name_table.append([1, 2, 3])
    write_csv_file(name_table, "name_table_minimal.csv", ",", csv.QUOTE_MINIMAL)
    write_csv_file(name_table, "name_table_all.csv", ",", csv.QUOTE_ALL)
    write_csv_file(name_table, "name_table_nonnumeric.csv", ",", csv.QUOTE_NONNUMERIC)
    #write_csv_file(name_table, "name_table_none.csv", ",", csv.QUOTE_NONE)        # no escapechar is set for lots of quotes

    

csv_quoting_examples()

### Be careful when you use quoting options
1. We shouldn't use spaces in files for commas and delimiters. - They start to put in these extra double quotes.
2. If you've got a mixture of single and double quotes, be careful in understanding how each of these options works in the presence of single and double quotes.



---
## Practice Project : Loading Cancer-Risk Data

The data that we will process in the practice project was generated in 2005 by the Environmental Protection Agency as part of an [effort](https://www.epa.gov/national-air-toxics-assessment/2005-national-air-toxics-assessment) to understand the affect of air toxics on human health.  The specific county-level data on cancer-risk from air toxics is stored in an .xls file located [here](https://www.epa.gov/national-air-toxics-assessment/2005-nata-assessment-results#county).   As part of our initial processing of this data, we have downloaded and manually removed some of the extra text from the data set.  This processed CSV file which will be a critical component of our remaining practice projects is available on Google Storage [here](https://storage.googleapis.com/codeskulptor-isp/course3/cancer_risk05_v4_county.csv).

#### The structure of the cancer-risk CSV file
> * Column A - State name
> * Column B - County name
> * Column C - Unique five-digit FIPS county county code 
> * Column E - Population
> * Column L - Lifetime cancer-risk

In [ ]:
"""
Week 3 practice project template for Python Data Analysis
Reading and writing CSV files using lists
"""


import csv



#########################################################
# Part 1 - Week 3



def print_table(table):
    """
    Echo a nested listto the console
    """
    for row in table:
        print(row)


def read_csv_file(file_name):
    """
    Given a CSV file, read the data into a nested list
    Input: String corresponding to comma-separated  CSV file
    Output: Lists of lists consisting of the fields in the CSV file
    """
    return_list = []

    with open(path+file_name,'r',newline='') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter = ',')
        for row in csv_reader:
            return_list.append(row)
    return return_list



def write_csv_file(csv_table, file_name):
    """
    Input: Nested list csv_table and a string file_name
    Action: Write fields in csv_table into a comma-separated CSV file with the name file_name
    """
    with open(path+file_name,'w',newline='') as csv_file:
        csv_writer = csv.writer(csv_file, delimiter = ',', quoting = csv.QUOTE_MINIMAL)
        
        for row in csv_table:
            csv_writer.writerow(row)
    

        
def test_part1_code():
    """
    Run examples that test the functions for part 1
    """
    
    # Simple test for reader
    test_table = read_csv_file("test_case.csv")  # create a small CSV for this test
    print_table(test_table)
    print()

    # Test the writer
    cancer_risk_table = read_csv_file("cancer_risk05_v4_county.csv")
    write_csv_file(cancer_risk_table, "cancer_risk05_v4_county_copy.csv")
    cancer_risk_copy = read_csv_file("cancer_risk05_v4_county_copy.csv")
    
    # Test whether two tables are the same

test_part1_code()

['1', '2', '3', '4']
['5', '6', '7', '8']
['-2', '-3', '-4', '-5']