### [Sorting]

* Sorted will take anything that you can iterate over.
* Sorted always returns a list. It will return an list even though you pass a tuple.
* When you pass a dictionary , it will return a list sorting keys.
> * sort() : If  you have a list and you want to actually mutate the list and sort the data inside of it
> * sorted() : You can call this with anything that you could iterate over and it will produce a list with the items in the original input in sorted over.

In [ ]:
"""
Example code to sort sequences.
"""

import random

# Easily create a list of numbers
data = list(range(10))
print("range data:", data)

# Randomly shuffle those numbers
random.shuffle(data)
print("shuffled data:", data)

# Sort the list of numbers
data.sort()
print("sorted data:", data)

# Shuffle it again
random.shuffle(data)
print("shuffled data:", data)

# Use sorted to sort the list
newdata = sorted(data)
print("data after sorted:", data)
print("returned from sorted:", newdata)

# Convert to a tuple
datatup = tuple(data)
print("data tuple:", datatup)

# Sort the tuple of numbers
# datatup.sort()
print("tuple after sort:", datatup)

# Use sorted to sort the tuple
newdatatup = sorted(datatup)
print("returned from sorted:", newdatatup)

# Create a dictionary of squares (dictionary comprehension)
datamap = {key: key ** 2 for key in datatup}
print("data dictionary:", datamap)

# Use sorted to sort the dictionary
sortmap = sorted(datamap)
print("returned from sorted:", sortmap)

range data: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled data: [1, 4, 8, 3, 5, 0, 7, 9, 6, 2]
sorted data: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled data: [9, 1, 5, 4, 7, 3, 8, 0, 6, 2]
data after sorted: [9, 1, 5, 4, 7, 3, 8, 0, 6, 2]
returned from sorted: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
data tuple: (9, 1, 5, 4, 7, 3, 8, 0, 6, 2)
tuple after sort: (9, 1, 5, 4, 7, 3, 8, 0, 6, 2)
returned from sorted: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
data dictionary: {9: 81, 1: 1, 5: 25, 4: 16, 7: 49, 3: 9, 8: 64, 0: 0, 6: 36, 2: 4}
returned from sorted: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### [Lambda]

* Lambda is an anonumous function. We write it inline in our code and that's the only place it is. You can't refer to it ever again.
* map() : It's a function that takes other functions as an argument. It takes at least two arugments and the first argument always need to be a function.
* filter() : It takes a function as the first argument and filter the input sequence byt the function. If the function returns true, it adds it to the output list.

In [ ]:
"""
Examples of creating and using anonymous functions.
"""

# import random

# Easily create a list of numbers
data = list(range(10))
print("range data:", data)

def square(val):
    return val ** 2

# Square all numbers in the list
squares = list(map(square, data))
print("squares:", squares)

# Double all numbers in the list
doubles = list(map(lambda num: num * 2, data))
print("doubles:", doubles)

# Create a list of random numbers (list comprehension)
randnums = [random.randrange(2, num+3) for num in range(10)]
print("random numbers:", randnums)

# Create a list of tuples
tups = list(map(lambda num1, num2: (num1, num2), data, randnums))
print("tuples:", tups)

# Create a list of the min values in the tuples
mins = list(map(lambda pair: min(pair[0], pair[1]), tups))
print("minimums:", mins)

# Create a list only of tuples where the second item is less than the first
newtups = list(filter(lambda pair: pair[1] < pair[0], tups))
print("filtered:", newtups)

range data: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
doubles: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
random numbers: [2, 2, 3, 3, 3, 7, 2, 6, 5, 7]
tuples: [(0, 2), (1, 2), (2, 3), (3, 3), (4, 3), (5, 7), (6, 2), (7, 6), (8, 5), (9, 7)]
minimums: [0, 1, 2, 3, 3, 5, 2, 6, 5, 7]
filtered: [(4, 3), (6, 2), (7, 6), (8, 5), (9, 7)]

### [Advanced Sorting]

In [ ]:
"""
More advanced sorting examples.
"""

import random

# Easily create a shuffled list of numbers
data = list(range(10))
random.shuffle(data)
print("shuffled data:", data)

# Sort the list of numbers
data.sort()
print("ascending sort:", data)
data.sort(reverse=True)
print("descending sort:", data)

# Create a list of tuples
datatups = [(item, random.randrange(3, 15)) for item in data]
print("data tuples:", datatups)

# Sort the list
datatups.sort()
print("sorted data tuples:", datatups)

datatups.sort(key=lambda pair: pair[1])
print("sorted by second item:", datatups)

datatups.sort(key=lambda pair: pair[0] * pair[1], reverse=True)
print("sorted by product:", datatups)

# Shuffle it again
random.shuffle(datatups)
print("shuffled tuples:", datatups)

# Use sorted to sort the list
newdata = sorted(datatups, key=lambda pair: pair[1], reverse=True)
print("tuples after sorted:", datatups)
print("returned from sorted:", newdata)

shuffled data: [0, 7, 6, 8, 5, 2, 9, 4, 3, 1]
ascending sort: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
descending sort: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
data tuples: [(9, 8), (8, 6), (7, 9), (6, 5), (5, 11), (4, 7), (3, 10), (2, 5), (1, 10), (0, 3)]
sorted data tuples: [(0, 3), (1, 10), (2, 5), (3, 10), (4, 7), (5, 11), (6, 5), (7, 9), (8, 6), (9, 8)]
sorted by second item: [(0, 3), (2, 5), (6, 5), (8, 6), (4, 7), (9, 8), (7, 9), (1, 10), (3, 10), (5, 11)]
sorted by product: [(9, 8), (7, 9), (5, 11), (8, 6), (6, 5), (3, 10), (4, 7), (2, 5), (1, 10), (0, 3)]
shuffled tuples: [(6, 5), (5, 11), (8, 6), (1, 10), (2, 5), (7, 9), (4, 7), (9, 8), (3, 10), (0, 3)]
tuples after sorted: [(6, 5), (5, 11), (8, 6), (1, 10), (2, 5), (7, 9), (4, 7), (9, 8), (3, 10), (0, 3)]
returned from sorted: [(5, 11), (1, 10), (3, 10), (7, 9), (9, 8), (4, 7), (8, 6), (6, 5), (2, 5), (0, 3)]

### [Dictionaries vs. Lists for storing data]

* List
> 1. If data must be ordered.
> 2. If there is no unique key that could be used to identify the indivitual data items.
> 3. if you potentially would use a lot of different keys to access the data.

* Dictionary 
> 1. If there is a unique key that identifies the individual data items which is used to a ccess those data items.
> 2. If that key is frequently used to access the data items, which would result in a lot of searching if you used a list.

In [ ]:
# If we want to convert from the list form to the dictionary form, we could write simple code like this

def convert_list2dict(gpalist):
    """
    Input: gpalist - list of (student name, gpa) tuples
    Output: a dictionary mapping student names to their gpa
    """
    result = {}
    for item in gpalist:
        result[item[0]] = item[1]
    return result

In [ ]:
gpalist = [("Tamika Barker", 3.9), ("Elmer Brasher", 2.8), ("Raymond Hathaway", 3.3), ("Rebekah Bailey", 3.5)]

print(convert_list2dict(gpalist))

{'Tamika Barker': 3.9, 'Elmer Brasher': 2.8, 'Raymond Hathaway': 3.3, 'Rebekah Bailey': 3.5}



---
### [Refactoring Your Code]

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 0
"""


# Initialize emperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
mercury = 440
venus = 737
mars = 210

# Compute temperature in Farenheit
mercury_result = (mercury - 275.15) * 9 / 5 + 32
venus_result = (venus - 275.15) * 9 / 5 + 32
mars_result = (mars - 275.15) * 9 / 5 + 32

# Print
print("The daily average temperature on Mercury is", mercury_result, "Farenheit")
print("The daily average temperature on Venus is", venus_result, "Farenheit")
print("The daily average temperature on Mars is", mars_result, "Farenheit")

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

The daily average temperature on Mercury is 328.73 Farenheit
The daily average temperature on Venus is 863.3300000000002 Farenheit
The daily average temperature on Mars is -85.26999999999995 Farenheit

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 1
"""


# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
mercury = 440
venus = 737
mars = 210

# Compute temperature in Farenheit
def compute_temp(temp):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    return (temp - 275.15) * 9 / 5 + 32

mercury_result = compute_temp(mercury)
venus_result = compute_temp(venus)
mars_result = compute_temp(mars)

# Print out results
print("The daily average temperature on Mercury is", mercury_result, "Farenheit")
print("The daily average temperature on Venus is", venus_result, "Farenheit")
print("The daily average temperature on Mars is", mars_result, "Farenheit")

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

The daily average temperature on Mercury is 328.73 Farenheit
The daily average temperature on Venus is 863.3300000000002 Farenheit
The daily average temperature on Mars is -85.26999999999995 Farenheit

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 2
"""


# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
mercury = 440
venus = 737
mars = 210

# Compute temperature in Farenheit
def compute_temp(temp):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    return (temp - 275.15) * 9 / 5 + 32

mercury_result = compute_temp(mercury)
venus_result = compute_temp(venus)
mars_result = compute_temp(mars)

# Print out results
def print_temp(planet, temp):
    """
    Print out the average daily temps
    """
    print("The daily average temperature on", planet, "is", temp, "Farenheit")
    
print_temp("Mercury", mercury_result)
print_temp("Venus", venus_result)
print_temp("Mars", mars_result)

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

The daily average temperature on Mercury is 328.73 Farenheit
The daily average temperature on Venus is 863.3300000000002 Farenheit
The daily average temperature on Mars is -85.26999999999995 Farenheit

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 3
"""


# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
mercury = 440
venus = 737
mars = 210

# Compute temperature in Farenheit
def compute_celsius(temp):
    """
    Given a floaring point temperature temp in Kelvin,
    return the corresponding temperature in Celsius
    """
    return temp - 275.15

def compute_farenheit(temp):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    temp_celsius = compute_celsius(temp)
    return temp_celsius * 9 / 5 + 32

mercury_result = compute_farenheit(mercury)
venus_result = compute_farenheit(venus)
mars_result = compute_farenheit(mars)

# Print out results
def print_temp(planet, temp):
    """
    Print out the average daily temps
    """
    print("The daily average temperature on", planet, "is", temp, "Farenheit")
    
print_temp("Mercury", mercury_result)
print_temp("Venus", venus_result)
print_temp("Mars", mars_result)

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 4
"""


# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
MERCURY_KELVIN = 440
VENUS_KELVIN = 737
MARS_KELVIN = 210

# Compute temperature in Farenheit
def kelvin_to_celsius(temp_kelvin):
    """
    Given a floaring point temperature temp in Kelvin,
    return the corresponding temperature in Celsius
    """
    return temp_kelvin - 275.15

def kelvin_to_farenheit(temp_kelvin):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    temp_celsius = kelvin_to_celsius(temp_kelvin)
    return temp_celsius * 9 / 5 + 32

mercury_farenheit = kelvin_to_farenheit(MERCURY_KELVIN)
venus_farenheit = kelvin_to_farenheit(VENUS_KELVIN)
mars_farenheit = kelvin_to_farenheit(MARS_KELVIN)

# Print out results
def print_temp_farenheit(planet, temp_farenheit):
    """
    Print out the average daily temps in Farenheit
    """
    print("The daily average temperature on", planet, "is", temp_farenheit, "Farenheit")
    
print_temp_farenheit("Mercury", mercury_farenheit)
print_temp_farenheit("Venus", venus_farenheit)
print_temp_farenheit("Mars", mars_farenheit)

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

The daily average temperature on Mercury is 328.73 Farenheit
The daily average temperature on Venus is 863.3300000000002 Farenheit
The daily average temperature on Mars is -85.26999999999995 Farenheit

* The  principle in Python is to be self documenting. You should be able to ust read the program, understand what's going on immeidately.

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 5
"""

# Important constants
ZERO_KELVIN_IN_CELSIUS = -275.15
ZERO_CELSIUS_IN_FARENHEIT = 32
CELSIUS_TO_FARENHEIT_SCALING = 9 / 5

# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
MERCURY_KELVIN = 440
VENUS_KELVIN = 737
MARS_KELVIN = 210

# Compute temperature in Farenheit
def kelvin_to_celsius(temp_kelvin):
    """
    Given a floaring point temperature temp in Kelvin,
    return the corresponding temperature in Celsius
    """
    return temp_kelvin + ZERO_KELVIN_IN_CELSIUS

def kelvin_to_farenheit(temp_kelvin):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    temp_celsius = kelvin_to_celsius(temp_kelvin)
    return temp_celsius * CELSIUS_TO_FARENHEIT_SCALING + ZERO_CELSIUS_IN_FARENHEIT

mercury_farenheit = kelvin_to_farenheit(MERCURY_KELVIN)
venus_farenheit = kelvin_to_farenheit(VENUS_KELVIN)
mars_farenheit = kelvin_to_farenheit(MARS_KELVIN)

# Print out results
def print_temp_farenheit(planet, temp_farenheit):
    """
    Print out the average daily temps in Farenheit
    """
    print("The daily average temperature on", planet, "is", temp_farenheit, "Farenheit")
    
print_temp_farenheit("Mercury", mercury_farenheit)
print_temp_farenheit("Venus", venus_farenheit)
print_temp_farenheit("Mars", mars_farenheit)

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

* Be careful with global variables. If you 'd like to give your code as a module that others can import, someone may have their own variable and it will clash with the variable in your program.
*  So get rid of these local variables and encapsulate all of it inside a function and make it a local variables.

In [ ]:
"""
Converting the average daily temperatures for several planets 
from Kelvin to Farenheit --- Version 6
"""

# Important constants
ZERO_KELVIN_IN_CELSIUS = -275.15
ZERO_CELSIUS_IN_FARENHEIT = 32
CELSIUS_TO_FARENHEIT_SCALING = 9 / 5

# Initialize temperatures for various planets
# http://www.smartconversion.com/otherInfo/Temperature_of_planets_and_the_Sun.aspx
MERCURY_KELVIN = 440
VENUS_KELVIN = 737
MARS_KELVIN = 210

# Compute temperature in Farenheit
def kelvin_to_celsius(temp_kelvin):
    """
    Given a floaring point temperature temp in Kelvin,
    return the corresponding temperature in Celsius
    """
    return temp_kelvin + ZERO_KELVIN_IN_CELSIUS

def kelvin_to_farenheit(temp_kelvin):
    """
    Given a floating point temperature temp in Kelvin,
    return the corresponding temperature in Farenheit
    """
    temp_celsius = kelvin_to_celsius(temp_kelvin)
    return temp_celsius * CELSIUS_TO_FARENHEIT_SCALING + ZERO_CELSIUS_IN_FARENHEIT


# Print out results
def print_temp_farenheit(planet, temp_farenheit):
    """
    Print out the average daily temps in Farenheit
    """
    print("The daily average temperature on", planet, "is", temp_farenheit, "Farenheit")

    
# Compute and print results
def compute_and_print_temperatures():
    """
    Compute the temeperatues for three planets in Farenheit
    """
    mercury_farenheit = kelvin_to_farenheit(MERCURY_KELVIN)
    venus_farenheit = kelvin_to_farenheit(VENUS_KELVIN)
    mars_farenheit = kelvin_to_farenheit(MARS_KELVIN)

    print_temp_farenheit("Mercury", mercury_farenheit)
    print_temp_farenheit("Venus", venus_farenheit)
    print_temp_farenheit("Mars", mars_farenheit)

compute_and_print_temperatures()

# Output
##The daily average temperature on Mercury is 328.73 Farenheit
##The daily average temperature on Venus is 863.33 Farenheit
##The daily average temperature on Mars is -85.27 Farenheit

The daily average temperature on Mercury is 328.7300000000001 Farenheit
The daily average temperature on Venus is 863.33 Farenheit
The daily average temperature on Mars is -85.26999999999997 Farenheit

* Refactoring your code really bring it up to the very best status, the sign of a good Python scripter.



---

## [Practice Project : Processing Cancer-Risk Data]

The data that we will process in the practice project was generated in 2005 by the Environmental Protection Agency as part of an [effort](https://www.epa.gov/national-air-toxics-assessment/2005-national-air-toxics-assessment) to understand the affect of air toxics on human health. The specific county-level data on cancer-risk from air toxics is stored in an .xls file located [here](https://www.epa.gov/national-air-toxics-assessment/2005-nata-assessment-results#county). As part of our initial processing of this data, we have downloaded and manually removed some of the extra text from the data set. This processed CSV file which will be a critical component of our remaining practice projects is available on Google Storage [here](https://storage.googleapis.com/codeskulptor-isp/course3/cancer_risk05_v4_county.csv).

In [ ]:
path = '/content/drive/MyDrive/etc/'

In [ ]:
  """
Week 4 practice project solution for Python Data Analysis
Processing 2D tables 
"""
import csv



#########################################################
# Part 1 - Week 3



def print_table(table):
    """
    Echo a nested list table to the console
    """
    for row in table:
        print(row)


def read_csv_file(file_name):
    """
    Given a CSV file, read the data into a nested list
    Input: String corresponding to comma-separated  CSV file
    Output: Lists of lists consisting of the fields in the CSV file
    """
       
    with open(file_name, newline='') as csv_file:       # don't need to explicitly close the file now
        csv_table = []
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            csv_table.append(row)
    return csv_table



def write_csv_file(csv_table, file_name):
    """
    Input: Nested list csv_table and a string file_name
    Action: Write fields in csv_table into a comma-separated CSV file with the name file_name
    """
    
    with open(file_name, 'w', newline='') as csv_file:
        csv_writer = csv.writer(csv_file, delimiter=',', quoting=csv.QUOTE_MINIMAL)
        for row in csv_table:
            csv_writer.writerow(row)



#########################################################
# Part 2 - Week 4


def select_columns(my_table, col_indices):
    """
    Input: Nested list my_table and a list of integers col_indices
    Output: Nested list corresponding to sub-table formed by
    columns in col_indices
    """
    return_table = []
    for row in my_table:
        col_list = []
        for col_idx in col_indices:
            col_list.append(row[col_idx])
        return_table.append(col_list)

    return return_table


def sort_by_column(my_table, col_idx):
    """
    Input: Nested list my_table and an integer col_idx
    Action: Mutate the order of the rows in my_table such that the entries in
    the column col_idx appear in DESCENDING order when interpreted as numbers
    """
    
    my_table.sort(key = lambda col : col[col_idx], reverse = True)
    
    
    
def test_part2_code():
    """
    Run examples that test the functions for part 2
    """
    
    # Load a simple example table
    test_table = read_csv_file(path+"test_case.csv")  # file is available at ...
    print_table(test_table)
    print()
    
    # Simple test for column trimmng function
    print_table(select_columns(test_table, [0, 2]))
    print()
    
    # Simple test for column sorting function
    sort_by_column(test_table, 3)
    print_table(test_table)
    print()

    # Read cancer-risk data set, select columns A, B, C, E, and L, then sort by column E in descending order
    cancer_risk_table = read_csv_file(path+"cancer_risk05_v4_county.csv")
    col_indices = [0, 1, 2, 4, 11]
    trimmed_risk_table = select_columns(cancer_risk_table, col_indices)
    sort_by_column(trimmed_risk_table, 4)
    write_csv_file(trimmed_risk_table, "cancer_risk_trimmed.csv")
    
    # Load our file "cancer_risk_trimmed_solution.csv" and compare with your solution
    trimmed_risk_solution = read_csv_file(path+"cancer_risk_trimmed_solution.csv")
    # for row in range(len(trimmed_risk_table)):
    #     for col in range(len(trimmed_risk_table[0])):
    #         if trimmed_risk_table[row][col] != trimmed_risk_solution[row][col]:
    #             print("Difference at", row, col, trimmed_risk_table[row][col], trimmed_risk_solution[row][col])
    


test_part2_code()

#Output from test_part2_code()
##['1', '2', '3', '4']
##['5', '6', '7', '8']
##['-2', '-3', '-4', '-5']
##
##['1', '3']
##['5', '7']
##['-2', '-4']
##
##['5', '6', '7', '8']
##['1', '2', '3', '4']
##['-2', '-3', '-4', '-5']

['1', '2', '3', '4']
['5', '6', '7', '8']
['-2', '-3', '-4', '-5']

['1', '3']
['5', '7']
['-2', '-4']

['5', '6', '7', '8']
['1', '2', '3', '4']
['-2', '-3', '-4', '-5']