### [Iteration over Dictionaries]

* dictionary.keys()
* dictionary.values()
* dictionary.items() : It returns the  sequence of tuples.

In [ ]:
"""
Iterating over dictionaries.
"""

# Mapping from various cities to their country
capitals = {'USA': 'Washington, D.C.',
            'China': 'Beijing',
            'France': 'Paris',
            'England': 'London',
            'Italy': 'Rome',
            'Russia': 'Moscow',
            'Australia': 'Canberra',
            'Peru': 'Lima',
            'Japan': 'Tokyo'}

print("Direct Iteration")
print("================")

for country in capitals:
    print("{}, {}".format(capitals[country], country))

print("")

print("Iteration over Keys")
print("===================")

for country in capitals.keys():
    print("{}, {}".format(capitals[country], country))

print("")

print("Iteration over Values")
print("=====================")

for city in capitals.values():
    print("Capital city: {}".format(city))

print("")

Direct Iteration
================
Washington, D.C., USA
Beijing, China
Paris, France
London, England
Rome, Italy
Moscow, Russia
Canberra, Australia
Lima, Peru
Tokyo, Japan

Iteration over Keys
===================
Washington, D.C., USA
Beijing, China
Paris, France
London, England
Rome, Italy
Moscow, Russia
Canberra, Australia
Lima, Peru
Tokyo, Japan

Iteration over Values
=====================
Capital city: Washington, D.C.
Capital city: Beijing
Capital city: Paris
Capital city: London
Capital city: Rome
Capital city: Moscow
Capital city: Canberra
Capital city: Lima
Capital city: Tokyo

In [ ]:
type(capitals.keys())

dict_keys

In [ ]:
print("Iteration over Items")
print("===================")

for country, city in capitals.items():
    print("{}, {}".format(city, country))

print("")

print("Checking Membership")
print("===================")

print('England' in capitals)
print('Lima' in capitals)

print('Moscow' in capitals.keys())
print('Italy' in capitals.keys())

print('Houston' in capitals.values())
print('Beijing' in capitals.values())

Iteration over Items
===================
Washington, D.C., USA
Beijing, China
Paris, France
London, England
Rome, Italy
Moscow, Russia
Canberra, Australia
Lima, Peru
Tokyo, Japan

Checking Membership
===================
True
False
False
True
False
True

### [Tabular Data as a Nested List]

* Python has a lot of different ways that we can store tabular data.
* In this chapter, we're going to look at nested lists.
* It means lists inside of lists.

In [ ]:
"""
Tabular data as a nested list.
"""

# Programming language popularity, from www.tiobe.com/tiobe-index
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987],
              ["Java", 1, 2, 1, 1, 15, 0, 0],
              ["C", 2, 1, 2, 2, 1, 1, 1],
              ["C++", 3, 3, 3, 3, 2, 2, 5],
              ["C#", 4, 4, 7, 13, 0, 0, 0],
              ["Python", 5, 7, 6, 11, 27, 0, 0],
              ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
              ["PHP", 7, 6, 4, 5, 0, 0, 0],
              ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
              ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

* In formatting strings, * means it takes a lot of arguments and each argument goes into one of the fields in the format string.
* The header is actually a list. If you have a sequence and use star in front of it in Python, what it does is expand it out into its constituent elements.
* \***header -> to use a list where I actually needed individual arguments.**

In [ ]:
# Display langauges table
headers = popularity[0]
header_row = format_string.format(*headers)
print(header_row)
print("-" * len(header_row))

for language in popularity[1:]:
    print(format_string.format(*language))

print("")

Language              2017  2012  2007  2002  1997  1992  1987
--------------------------------------------------------------
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [ ]:
# Finding/selecting items

# What was Python's popularity in 1997?
print("Python's popularity in 1997:", popularity[5][5])

def find_col(table, col):
    """
    Return column index with col header in table
    or -1 if col is not in table
    """
    return table[0].index(col)

def find_row(table, row):
    """
    Return row index with row header in table
    or -1 if row is not in table
    """
    for idx in range(len(table)):
        if table[idx][0] == row:
            return idx
    return -1
    
idx1997 = find_col(popularity, 1997)
idxpython = find_row(popularity, "Python")
print("Python's popularity in 1997:", popularity[idxpython][idx1997])

Python's popularity in 1997: 27
Python's popularity in 1997: 27

### [Tabluar Data as a Nested Dictionary]

In [ ]:
"""
Tabular data as nested dictionaries.
"""

# Top 10 software products with the most vulnerabilities in 2017
# (through August).  From www.cvedetails.com.
vulnerabilities2017 = {
    'Android': {'vendor': 'Google',
                'type': 'Operating System',
                'number': 564},
    'Linux Kernel': {'vendor': 'Linux',
                     'type': 'Operating System',
                     'number': 367},
    'Imagemagick': {'vendor': 'Imagemagick',
                    'type': 'Application',
                    'number': 307},
    'IPhone OS': {'vendor': 'Apple',
                  'type': 'Operating System',
                  'number': 290},
    'Mac OS X': {'vendor': 'Apple',
                 'type': 'Operating System',
                 'number': 210},
    'Windows 10': {'vendor': 'Microsoft',
                   'type': 'Operating System',
                   'number': 195},
    'Windows Server 2008': {'vendor': 'Microsoft',
                            'type': 'Operating System',
                            'number': 187},
    'Windows Server 2016': {'vendor': 'Microsoft',
                            'type': 'Operating System',
                            'number': 183},
    'Windows Server 2012': {'vendor': 'Microsoft',
                            'type': 'Operating System',
                            'number': 176},
    'Windows 7': {'vendor': 'Microsoft',
                  'type': 'Operating System',
                  'number': 174}
}

# Display vulnerabilities table
print("Product               Vendor        Type               Vulnerabilities")
print("----------------------------------------------------------------------")

for product, values in vulnerabilities2017.items():
    row = "{:21} {:13} {:18} {:8}".format(product, values['vendor'], values['type'], values['number'])
    print(row)

print("")

Product               Vendor        Type               Vulnerabilities
----------------------------------------------------------------------
Android               Google        Operating System        564
Linux Kernel          Linux         Operating System        367
Imagemagick           Imagemagick   Application             307
IPhone OS             Apple         Operating System        290
Mac OS X              Apple         Operating System        210
Windows 10            Microsoft     Operating System        195
Windows Server 2008   Microsoft     Operating System        187
Windows Server 2016   Microsoft     Operating System        183
Windows Server 2012   Microsoft     Operating System        176
Windows 7             Microsoft     Operating System        174

In [ ]:
# Finding/selecting items

# How many vulnerabilites does Windows 7 have?
print(vulnerabilities2017['Windows 7']['number'])

# What product had the most vulnerabilities?
maxproduct = None
maxnumber = -1

for product, values in vulnerabilities2017.items():
    if values['number'] > maxnumber:
        maxproduct = product
        maxnumber = values['number']

print(maxproduct, maxnumber)

174
Android 564


* You have to know the names of the rows and those of the columns.
* You have to make sure that you're using the same column names in each inner dictionary.
* Dictionaries do not have an order so this is really only useful when you're not really concerened about the order of the rows.

### [Displaying Dictionaries]

In [ ]:
"""
Example code for printing the contents of a dictionary to the console
"""


NAME_DICT = {"Warren" : "Joe", "Rixner" : "Scott", "Greiner" : "John"}

def run_dict_methods():
    """
    Run some simple examples of calls to dictionary methods
    """
    
    # Note that these methods return an iterable object (similar to range())
    print(NAME_DICT.keys())
    print(NAME_DICT.values())
    print(NAME_DICT.items())
    print()
    
    # These objects can be converted to lists
    print(list(NAME_DICT.keys()))
    print(list(NAME_DICT.values()))
    print(list(NAME_DICT.items()))

run_dict_methods()

dict_keys(['Warren', 'Rixner', 'Greiner'])
dict_values(['Joe', 'Scott', 'John'])
dict_items([('Warren', 'Joe'), ('Rixner', 'Scott'), ('Greiner', 'John')])

['Warren', 'Rixner', 'Greiner']
['Joe', 'Scott', 'John']
[('Warren', 'Joe'), ('Rixner', 'Scott'), ('Greiner', 'John')]

In [ ]:
def print_dict_keys(my_dict):
    """
    Print the contents of a dictionary to the console
    in a readable form using the keys() method
    """
    print("Printing dictionary", my_dict, "in readable form")
    for key in my_dict:                                # note my_dict.keys() works here too
        print("Key =", key, "has value =", my_dict[key])
        
        
def print_dict_items(my_dict):
    """
    Print the contents of a dictionary to the console
    in a readable form using the items() method
    """
    print("Printing dictionary", my_dict, "in readable form")
    for (key, value) in my_dict.items():
        print("Key =", key, "has value =", value)


def run_print_dict_examples():
    """
    Run some examples of printing dictionaries to the console
    """
    print()
    print_dict_keys(NAME_DICT)
    print()
    print_dict_items(NAME_DICT)
    
run_print_dict_examples()

Printing dictionary {'Warren': 'Joe', 'Rixner': 'Scott', 'Greiner': 'John'} in readable form
Key = Warren has value = Joe
Key = Rixner has value = Scott
Key = Greiner has value = John

Printing dictionary {'Warren': 'Joe', 'Rixner': 'Scott', 'Greiner': 'John'} in readable form
Key = Warren has value = Joe
Key = Rixner has value = Scott
Key = Greiner has value = John

In [ ]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [ ]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

##[Practice Exercies for Nested Data Structures]

1. Write an expression that defines a list nested_list  consisting of five empty lists.

In [ ]:
"""
Template - Create a list nested_list consisting of five empty lists
"""

# Add code here
nested_list = [[],[],[],[],[]]

# Tests
print(nested_list)

[[], [], [], [], []]

2. Write an expression that defines a list nested_list  of length five whose items themselves are lists consisting of three zeros.

In [ ]:
"""
Template - Create a list nested_list of length 5 whose items 
are themselves lists consisting of 3 zeros
"""

# Add code here
nested_list = [[[0,0,0]]*5]

# Tests
print(nested_list)

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

3. In Python, a [list comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions) is one line statement that can be used to define simple, but interesting lists succintly.  Create a list zero_list consisting of 3 zeroes using a list comprehension.  As an extra challenge, create the list nested_list   from the previous question using a [nested list comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions) .

In [ ]:
"""
Template- Create a list zero_list consisting of 3 zeroes using a list comprehension
https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

As a challenge, redo the previous problem using a nested list comprehension
https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions
"""

# Add code here for a list comprehension
zero_list = [0 for dummy_x in range(3)]

# Add code here for nested list comprehension
nested_list = [[0 for dummy_x in range(3)] for dummy_i in range(5)]


# Tests
print(zero_list)
print(nested_list)

# Output
#[0, 0, 0]
#[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

[0, 0, 0]
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

4. Given the list nested_list  as defined in the provided template, write an expression that returns the item in nested_list that has value 7.

In [ ]:
"""
Template - Select a specific item in a nested list
"""

# Define a nested list of lists
nested_list = [[col + 3 * row for col in range(3)] for row in range(5)]
print(nested_list)

# Add code to print out the item in this nested list with value 7
print(nested_list[2][1])

# Output
#[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14]]
#7

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14]]
7

5. Consider the list nested_list  as defined in the provided template.  Attempting to modify one item in nested_list  has the unexpected effect of modifying several items.  Examine this example and enter an explanation for this behavior.

In [ ]:
"""
Solution - Analyze a reference issue involving a nested list
"""

# Create a nested list
zero_list = [0, 2, 0]
nested_list = []
for dummy_idx in range(5):
    nested_list.append(zero_list)
print(nested_list)
    
# Update an entry to be non-zero
nested_list[2][1] = 7
print(nested_list)


# Erroneous output
#[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
#[[0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0]]

# Desired output
# [[0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0]]
# [[0, 2, 0], [0, 2, 0], [0, 7, 0], [0, 2, 0], [0, 2, 0]]


# Explanation
# nested_list[2][1] is updating all 5 entries in nested_list because of a referencing issue.
# The items in nested_list are refrencing zero_list, which are all same objects.
# Thus, updating one reference to zero_list means updating the other four references simultanesouly.

# The solution is to make a new copy of zero_list each time append() is executed.

[[0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0]]
[[0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0]]

6. Write an expression list_dicts that defines a list consisting of five empty dictionaries.

In [ ]:
"""
Template - Create a list list_dicts of 5 empty dictionaries
"""

# Add code here
list_dicts = [dict() for dummy_i in range(5)]

# Tests
print(list_dicts)

[{}, {}, {}, {}, {}]

7. Write a function dict_copies(my_dict, num_copies) that takes a dictionary 'my_dict' and an integer 'num_copies' and returns a list consisting of 'num_copies' copies of 
'my_dict'.

In [ ]:
"""
Template - Write a function dict_copies(my_dict, num_copies) that 
returns a list consisting of num_copies copies of my_dict
"""


# Add code here
def dict_copies(my_dict, num_copies):
    """
    Given a dictionary my_dict and an integer num_copies, 
    returns a list consisting of num_copies copies of my_dict.
    """
    return_list = []

    for dummy_i in range(num_copies):
        return_list.append(dict(my_dict))
    
    return return_list


# Tests
print(dict_copies({}, 0))
print(dict_copies({}, 1))
print(dict_copies({}, 2))

test_dict = dict_copies({'a' : 1, 'b' : 2}, 2)
print(test_dict)

# Check for reference problem
test_dict[1]["a"] = 3
print(test_dict)



# Output
#[]
#[{}]
#[{}, {}]
#[{'a': 1, 'b': 2}, {'b': 2, 'a': 1}]
#[{'b': 2, 'a': 1}, {'b': 2, 'a': 3}]

# Note that you have a reference issue if the last line of output is
#[{'a': 3, 'b': 2}, {'b': 2, 'a': 3}]

[]
[{}]
[{}, {}]
[{'a': 1, 'b': 2}, {'a': 1, 'b': 2}]
[{'a': 1, 'b': 2}, {'a': 3, 'b': 2}]

8. Write a function make_dict_lists(length)  that takes an integer length  returns a dictionary whose keys are in range(length) and whose corresponding values are lists of zeros whose length match the key.

In [ ]:
"""
Solution - Write a function make_dict_lists(length) that returns a dictionary whose keys are in range(length) and whose
corresponding values are lists of zeros with length matching the key
"""


# Add code here
def make_dict_lists(length):
    """
    Given an integer length, return a dictionary whose keys
    lie in range(length) and whose corresponding values are 
    lists of zeros with length matching the key
    """
    return_dict = {}
    for dummy_i in range(length):
        return_dict[dummy_i] = [0 for dummy_inx in range(dummy_i)]

    return return_dict



# Tests
print(make_dict_lists(0))
print(make_dict_lists(1))
print(make_dict_lists(5))


# Output
#{}
#{0: []}
#{3: [0, 0, 0], 0: [], 4: [0, 0, 0, 0], 1: [0], 2: [0, 0]}

{}
{0: []}
{0: [], 1: [0], 2: [0, 0], 3: [0, 0, 0], 4: [0, 0, 0, 0]}

9. Challenge: Define a dictionary 'grade_table'  whose keys corresponds to names in the first column of the table below and whose corresponding values are a list of the grades in the name's row. 
![capture.JPG]()

In [ ]:
"""
Template - Create a dictionary grade_table whose keys are provided
student names and values are associated list of grades
"""


# Add code here
grade_table = {'Joe':[100,98,100,13]
               ,'Scott':[75,59,89,77]
               ,'John':[86,84,91,78]}


# Tests
print(grade_table["Joe"])
print(grade_table["Scott"])
print(grade_table["John"])


# Output
#[100, 98, 100, 13]
#[75, 59, 89, 77]
#[86, 84, 91, 78]

[100, 98, 100, 13]
[75, 59, 89, 77]
[86, 84, 91, 78]

10. Challenge: Define a function make_grade_table(name_list, grades_list) that takes a list of names name_list and a list of grade lists 'grades_list'  and returns a dictionary whose keys corresponds to names 
'name_list' and whose corresponding values are the items 'grades_list'.  As a challenge, use the Python function zip() to simplfy the logic of your loop that creates the output dictionary.

In [ ]:
"""
Template - Create a function make_grade_table(name_list, grades_list) 
whose keys are the names in names and whose values are the
lists of grades in grades
"""


# Add code here

def make_grade_table(name_list, grades_list):
    """
    Given a list of name_list (as strings) and a list of grades
    for each name, return a dictionary whose keys are
    the names and whose associated values are the lists of grades
    """
    
    return_dict = {}

    for name, grades in zip(name_list, grades_list):
        return_dict[name]  = grades
    return return_dict
        

# Tests
print(make_grade_table([], []))

name_list = ["Joe", "Scott", "John"]
grades_list = [100, 98, 100, 13], [75, 59, 89, 77],[86, 84, 91, 78] 
print(make_grade_table(name_list, grades_list))


# Output
#{}
#{'Scott': [75, 59, 89, 77], 'John': [86, 84, 91, 78], 'Joe': [100, 98, 100, 13]}

{}
{'Joe': [100, 98, 100, 13], 'Scott': [75, 59, 89, 77], 'John': [86, 84, 91, 78]}