[Terminiology in this course]

1. Programming : Process of writing Python code that meets an English specification
2. Testing : The process of checking whether your code is producing the intend answer
3. Tests : Pairs consisting of program input and corresponding output for the specification
4. Debugging : Process of corresponding errors in your code

## 1. Rock-paper-scissors-lizard-Spock

In [ ]:
"""
Implementing RPSLS for Practice Project
"""

def name_to_number(name):
    """
    Take string name as input (rock-Spock-paper-lizard-scissors)
    and returns integer (0-1-2-3-4)
    """
    if name == 'rock':
        return 0
    elif name == 'Spock':
        return 1
    elif name == 'paper':
        return 2
    elif name == 'lizard':
        return 3
    else :
        return 4
    
print(name_to_number("rock"))		# output - 0
print(name_to_number("Spock"))		# output - 1
print(name_to_number("paper"))		# output - 2
print(name_to_number("lizard"))		# output - 3
print(name_to_number("scissors"))	# output - 4

0
1
2
3
4

In [ ]:
def number_to_name(number):
    """
    Converts a number in the range 0 tp 4 into its corresponding name as a string.
    """
    if number == 0 :
        return 'rock'
    elif number == 1:
        return 'Spock'
    elif number == 2:
        return 'paper'
    elif number == 3:
        return 'lizard'
    else :
        return 'scissors'

In [ ]:
import random

In [ ]:
def rpsls(player_choice):
    """
    1. Print out the Player's choice.
    """
    print("")

    print("Player chooses",player_choice)
    player_number = name_to_number(player_choice)

    """
    2. Choose computer's choice randomly.
    """

    comp_number = random.randrange(5)
    comp_choice = number_to_name(comp_number)
    print("Computer chooses",comp_choice)

    """
    3. Determine and print out the winner.
    """
    
    rule = (player_number - comp_number) % 5
    if rule in (1,2) :
        print("Player wins!")
    elif rule in (3,4):
        print("Computer wins!")
    else:
        print("Player and computer tie!")

In [ ]:
rpsls("rock")
rpsls("Spock")
rpsls("paper")
rpsls("lizard")
rpsls("scissors")

Player chooses rock
Computer chooses lizard
Player wins!

Player chooses Spock
Computer chooses scissors
Player wins!

Player chooses paper
Computer chooses Spock
Player wins!

Player chooses lizard
Computer chooses lizard
Nobody wins.

Player chooses scissors
Computer chooses rock
Computer wins!

##2. Date project

In [ ]:
"""
Project for Week 4 of "Python Programming Essentials".
Collection of functions to process dates.

Be sure to read the project description page for further information
about the expected behavior of the program.
"""

import datetime

def days_in_month(year, month):
    """
    Inputs:
      year  - an integer between datetime.MINYEAR and datetime.MAXYEAR
              representing the year
      month - an integer between 1 and 12 representing the month

    Returns:
      The number of days in the input month.
    """
    
    if month+1 > 12:
        year2 = year+1
        month2 = 1
    else:
        year2 = year
        month2 = month+1
        
    if (year >= datetime.MINYEAR and year < datetime.MAXYEAR) and (month >=1 and month <= 12) :
        return (datetime.date(year2, month2, 1) - datetime.date(year, month, 1)).days

In [ ]:
print(days_in_month(2021, 5))

31

In [ ]:
def is_valid_date(year, month, day):
    """
    Inputs:
      year  - an integer representing the year
      month - an integer representing the month
      day   - an integer representing the day

    Returns:
      True if year-month-day is a valid date and
      False otherwise
    """
    if year >= datetime.MINYEAR and datetime.MAXYEAR >= year:
        if month >= 1 and month <= 12:
            if day > 0 and day <= days_in_month(year, month):
                return True
            else:
                return False
        else:
            return False
    else:
        return False

In [ ]:
is_valid_date(2021, 6, 0)

False

In [ ]:
def days_between(year1, month1, day1, year2, month2, day2):
    """
    Inputs:
      year1  - an integer representing the year of the first date
      month1 - an integer representing the month of the first date
      day1   - an integer representing the day of the first date
      year2  - an integer representing the year of the second date
      month2 - an integer representing the month of the second date
      day2   - an integer representing the day of the second date

    Returns:
      The number of days from the first date to the second date.
      Returns 0 if either date is invalid or the second date is
      before the first date.
    """
    if is_valid_date(year1, month1, day1) and is_valid_date(year2, month2, day2) :
        if (datetime.date(year2, month2, day2)- datetime.date(year1, month1, day1)).days > 0 :
            return (datetime.date(year2, month2, day2)- datetime.date(year1, month1, day1)).days
        else:
            return 0
    else :
        return 0

In [ ]:
days_between(2021,6,31,2021,7,23)

0

In [ ]:
def age_in_days(year, month, day):
    """
    Inputs:
      year  - an integer representing the birthday year
      month - an integer representing the birthday month
      day   - an integer representing the birthday day

    Returns:
      The age of a person with the input birthday as of today.
      Returns 0 if the input date is invalid or if the input
      date is in the future.
    """

    today = datetime.date.today()
    
    if is_valid_date(year, month, day) == False:
        return 0
    elif (datetime.date.today()-datetime.date(year, month, day)).days <= 0 :
        return 0
    else:
        return days_between(year, month, day ,today.year, today.month, today.day)

In [ ]:
age_in_days(2021,6,15)

5

In [ ]:
date1 = datetime.date(1999, 12, 31)
date2 = datetime.date(2000, 1, 1)
date3 = datetime.date(2016, 4, 15)

diff = date2 - date1
print(diff)
print(diff.days)

1 day, 0:00:00
1